@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Blood Bank </h1>
    <h5>Donate blood. Save lives.</h5> 
    <h6>Save the world for someone.</h6>
</div>
